# Learn more about API keys at: https://docs.trepa.io/developers/api-keys
TREPA_API_KEY=trp_...

# Learn more about private keys at: https://docs.trepa.io/developers/private-key
TREPA_PRIVATE_KEY=...
